.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.h2 {
  font-size: 30px;
  color:rgb(189, 189, 189);
  text-shadow: 1px 1px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h3 {
  font-size: calc(10px + 2vmin);
  color:rgb(189, 189, 189);
  text-shadow: 1px 1px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.imgur.com/6n0cmhe.png");

  /* black flame og:
  background-image: url("https://i.imgur.com/uKN71U2.jpg"); */
  /* black flame option 2: 
  background-image: url("https://i.imgur.com/FDGMlc8.jpg"); */
  /* black water option: 
  background-image: url("https://i.imgur.com/PajGMyW.png"); */
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .background{
      background-size: auto;
    }
    .test {
      display: inline-block;
      align-items: center;
      justify-content: center;
    }

}

/*
.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 10vmin;
  backface-visibility: hidden;
  position: fixed;
  animation: move;
  animation-duration: 34;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  opacity: 0.5;
  color: #bebebe;
  top: 68%;
  left: 28%;
  animation-duration: 54s;
  animation-delay: -38s;
  transform-origin: 1vw 19vh;
  box-shadow: -20vmin 0 2.7148150698657094vmin currentColor;
}

.background span:nth-child(1) {
  opacity: 0.5;
  color: #7c7c7c;
  top: 10%;
  left: 55%;
  animation-duration: 140s;
  animation-delay: -106s;
  transform-origin: 20vw -23vh;
  box-shadow: -20vmin 0 2.6727462773609916vmin currentColor;
}
.background span:nth-child(2) {
  opacity: 0.5;
  color: #a0a0a0;
  top: 41%;
  left: 8%;
  animation-duration: 48s;
  animation-delay: -61s;
  transform-origin: 7vw 15vh;
  box-shadow: -20vmin 0 2.5541406165044647vmin currentColor;
}
.background span:nth-child(3) {
  opacity: 0.5;
  color: #b2b8ba;
  top: 94%;
  left: 17%;
  animation-duration: 138s;
  animation-delay: -137s;
  transform-origin: 7vw 11vh;
  box-shadow: 20vmin 0 2.5482260121521327vmin currentColor;
}
.background span:nth-child(4) {
  opacity: 0.5;
  color: #c4c4d0;
  top: 16%;
  left: 16%;
  animation-duration: 108s;
  animation-delay: -106s;
  transform-origin: -14vw 1vh;
  box-shadow: -20vmin 0 2.8979211840665386vmin currentColor;
}
.background span:nth-child(5) {
  opacity: 0.5;
  color: #7b7b7b;
  top: 96%;
  left: 72%;
  animation-duration: 78s;
  animation-delay: -101s;
  transform-origin: -3vw -20vh;
  box-shadow: -20vmin 0 3.0865690621838886vmin currentColor;
}
.background span:nth-child(6) {
  opacity: 0.5;
  color: #b3bbbb;
  top: 55%;
  left: 86%;
  animation-duration: 41s;
  animation-delay: -15s;
  transform-origin: -18vw 4vh;
  box-shadow: 20vmin 0 2.605687329983522vmin currentColor;
}
.background span:nth-child(7) {
  opacity: 0.5;
  color: #b0b0b2;
  top: 29%;
  left: 95%;
  animation-duration: 154s;
  animation-delay: -34s;
  transform-origin: -15vw -6vh;
  box-shadow: 20vmin 0 2.7455553193895255vmin currentColor;
}
.background span:nth-child(8) {
  opacity: 0.5;
  color: #c8cccd;
  top: 39%;
  left: 48%;
  animation-duration: 79s;
  animation-delay: -96s;
  transform-origin: -23vw 2vh;
  box-shadow: -20vmin 0 3.0847580545253788vmin currentColor;
}
.background span:nth-child(9) {
  opacity: 0.5;
  color: #b8b9b9;
  top: 70%;
  left: 80%;
  animation-duration: 83s;
  animation-delay: -32s;
  transform-origin: 24vw 21vh;
  box-shadow: -20vmin 0 2.670148873974698vmin currentColor;
}
.background span:nth-child(10) {
  opacity: 0.5;
  color: #b5c8c7;
  top: 2%;
  left: 11%;
  animation-duration: 102s;
  animation-delay: -60s;
  transform-origin: -7vw -17vh;
  box-shadow: 20vmin 0 3.098775612979123vmin currentColor;
}
.background span:nth-child(11) {
  opacity: 0.5;
  color: #ccd6d6;
  top: 33%;
  left: 83%;
  animation-duration: 133s;
  animation-delay: -47s;
  transform-origin: -16vw -16vh;
  box-shadow: 20vmin 0 2.9552714183304136vmin currentColor;
}
.background span:nth-child(12) {
  opacity: 0.5;
  color: #b1b1bf;
  top: 67%;
  left: 94%;
  animation-duration: 156s;
  animation-delay: -107s;
  transform-origin: 25vw 4vh;
  box-shadow: 20vmin 0 2.6361676826052967vmin currentColor;
}
.background span:nth-child(13) {
  opacity: 0.5;
  color: #b8bec0;
  top: 20%;
  left: 66%;
  animation-duration: 154s;
  animation-delay: -49s;
  transform-origin: -7vw 8vh;
  box-shadow: -20vmin 0 3.1819186631066607vmin currentColor;
}
.background span:nth-child(14) {
  opacity: 0.5;
  color: #c6cad7;
  top: 87%;
  left: 55%;
  animation-duration: 85s;
  animation-delay: -56s;
  transform-origin: 20vw -22vh;
  box-shadow: -20vmin 0 3.3523838767978376vmin currentColor;
}
.background span:nth-child(15) {
  opacity: 0.5;
  color: #c6dcdb;
  top: 35%;
  left: 45%;
  animation-duration: 127s;
  animation-delay: -144s;
  transform-origin: -2vw 22vh;
  box-shadow: -20vmin 0 2.950374003360407vmin currentColor;
}
.background span:nth-child(16) {
  opacity: 0.5;
  color: #cdd8d7;
  top: 100%;
  left: 81%;
  animation-duration: 128s;
  animation-delay: -52s;
  transform-origin: 21vw -7vh;
  box-shadow: -20vmin 0 2.682319476498254vmin currentColor;
}
.background span:nth-child(17) {
  opacity: 0.5;
  color: #c5c5d5;
  top: 76%;
  left: 84%;
  animation-duration: 147s;
  animation-delay: -9s;
  transform-origin: 16vw -18vh;
  box-shadow: -20vmin 0 2.950613214419149vmin currentColor;
}
.background span:nth-child(18) {
  opacity: 0.5;
  color: #c5cfcf;
  top: 76%;
  left: 38%;
  animation-duration: 95s;
  animation-delay: -127s;
  transform-origin: -23vw 13vh;
  box-shadow: -20vmin 0 2.5491982445849684vmin currentColor;
}
.background span:nth-child(19) {
  opacity: 0.5;
  color: #cfd0d3;
  top: 13%;
  left: 53%;
  animation-duration: 142s;
  animation-delay: -111s;
  transform-origin: 16vw -11vh;
  box-shadow: -20vmin 0 2.888715375422059vmin currentColor;
}
.background span:nth-child(20) {
  opacity: 0.5;
  color: #cbd2d4;
  top: 46%;
  left: 61%;
  animation-duration: 101s;
  animation-delay: -6s;
  transform-origin: -14vw 8vh;
  box-shadow: 20vmin 0 3.4479626922328483vmin currentColor;
}
.background span:nth-child(21) {
  opacity: 0.5;
  color: #bec1cb;
  top: 42%;
  left: 82%;
  animation-duration: 43s;
  animation-delay: -20s;
  transform-origin: 6vw -19vh;
  box-shadow: 20vmin 0 2.9929386347871403vmin currentColor;
}
.background span:nth-child(22) {
  opacity: 0.5;
  color: #d4dcdf;
  top: 84%;
  left: 51%;
  animation-duration: 89s;
  animation-delay: -30s;
  transform-origin: 9vw -16vh;
  box-shadow: -20vmin 0 2.796409104873404vmin currentColor;
}
.background span:nth-child(23) {
  opacity: 0.5;
  color: #bbc1c1;
  top: 79%;
  left: 35%;
  animation-duration: 159s;
  animation-delay: -48s;
  transform-origin: 24vw 24vh;
  box-shadow: 20vmin 0 2.8210574831971797vmin currentColor;
}
.background span:nth-child(24) {
  opacity: 0.5;
  color: #bebec7;
  top: 61%;
  left: 39%;
  animation-duration: 89s;
  animation-delay: -137s;
  transform-origin: 8vw -4vh;
  box-shadow: 20vmin 0 3.136570385303542vmin currentColor;
}
.background span:nth-child(25) {
  opacity: 0.5;
  color: #babac3;
  top: 5%;
  left: 85%;
  animation-duration: 69s;
  animation-delay: -51s;
  transform-origin: 16vw -2vh;
  box-shadow: 20vmin 0 2.666833229200174vmin currentColor;
}
.background span:nth-child(26) {
  opacity: 0.5;
  color: #c1c7c9;
  top: 40%;
  left: 96%;
  animation-duration: 126s;
  animation-delay: -146s;
  transform-origin: -8vw -2vh;
  box-shadow: 20vmin 0 2.9764707535461863vmin currentColor;
}
.background span:nth-child(27) {
  opacity: 0.5;
  color: #b3b3b9;
  top: 89%;
  left: 23%;
  animation-duration: 163s;
  animation-delay: -30s;
  transform-origin: 21vw 2vh;
  box-shadow: -20vmin 0 3.4300379173235553vmin currentColor;
}
.background span:nth-child(28) {
  opacity: 0.5;
  color: #b8bcc7;
  top: 93%;
  left: 6%;
  animation-duration: 86s;
  animation-delay: -21s;
  transform-origin: -16vw -16vh;
  box-shadow: -20vmin 0 3.137810187347963vmin currentColor;
}
.background span:nth-child(29) {
  opacity: 0.5;
  color: #ccd2d4;
  top: 16%;
  left: 93%;
  animation-duration: 115s;
  animation-delay: -16s;
  transform-origin: -8vw 16vh;
  box-shadow: 20vmin 0 3.1152408241852854vmin currentColor;
}
.background span:nth-child(30) {
  opacity: 0.5;
  color: #c9dad9;
  top: 97%;
  left: 41%;
  animation-duration: 122s;
  animation-delay: -138s;
  transform-origin: -7vw 8vh;
  box-shadow: 20vmin 0 3.22915795816708vmin currentColor;
}
.background span:nth-child(31) {
  opacity: 0.5;
  color: #b8bebe;
  top: 94%;
  left: 86%;
  animation-duration: 95s;
  animation-delay: -140s;
  transform-origin: 3vw 2vh;
  box-shadow: -20vmin 0 2.6238451135745358vmin currentColor;
}
.background span:nth-child(32) {
  opacity: 0.5;
  color: #c7d3d2;
  top: 3%;
  left: 86%;
  animation-duration: 85s;
  animation-delay: -88s;
  transform-origin: -21vw -23vh;
  box-shadow: 20vmin 0 2.7838126857041674vmin currentColor;
}
.background span:nth-child(33) {
  opacity: 0.5;
  color: #bbc0c2;
  top: 84%;
  left: 36%;
  animation-duration: 97s;
  animation-delay: -160s;
  transform-origin: 3vw 16vh;
  box-shadow: 20vmin 0 2.6743624713438265vmin currentColor;
}
.background span:nth-child(34) {
  opacity: 0.5;
  color: #ccdbe0;
  top: 100%;
  left: 35%;
  animation-duration: 76s;
  animation-delay: -114s;
  transform-origin: 1vw -18vh;
  box-shadow: -20vmin 0 3.2045164204348735vmin currentColor;
}
.background span:nth-child(35) {
  opacity: 0.5;
  color: #c5c5d1;
  top: 5%;
  left: 65%;
  animation-duration: 112s;
  animation-delay: -10s;
  transform-origin: 24vw -16vh;
  box-shadow: 20vmin 0 2.5726487361802395vmin currentColor;
}
.background span:nth-child(36) {
  opacity: 0.5;
  color: #cbcbd4;
  top: 33%;
  left: 24%;
  animation-duration: 97s;
  animation-delay: -49s;
  transform-origin: 5vw 14vh;
  box-shadow: -20vmin 0 3.4499343260748585vmin currentColor;
}
.background span:nth-child(37) {
  opacity: 0.5;
  color: #c8cece;
  top: 68%;
  left: 70%;
  animation-duration: 75s;
  animation-delay: -83s;
  transform-origin: -9vw -15vh;
  box-shadow: -20vmin 0 3.1226118797233786vmin currentColor;
}
.background span:nth-child(38) {
  opacity: 0.5;
  color: #ced5d7;
  top: 87%;
  left: 9%;
  animation-duration: 114s;
  animation-delay: -142s;
  transform-origin: -9vw 10vh;
  box-shadow: 20vmin 0 2.8178255194603503vmin currentColor;
}
.background span:nth-child(39) {
  opacity: 0.5;
  color: #e3e3ed;
  top: 8%;
  left: 97%;
  animation-duration: 88s;
  animation-delay: -80s;
  transform-origin: 24vw 13vh;
  box-shadow: -20vmin 0 3.357157900463026vmin currentColor;
}
*/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0px 8px 0px;
}

.imgtag {
  max-height: 40vw;
  border-radius: 7px;
  box-shadow: 4px 4px 5px #838383;
}

.lbdk {
  max-width: 90vw;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 8px 8px 4px #3f3f3f;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
